<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expiring Visits</title>
</head>
<body>
<h1>List of Visits Expiring Soon</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Visit Date</th>
        <th>Duration</th>
        <th>Visit Type</th>
        <th>Visit Status</th>
        <th>Visit Price</th>
        <th>Visit Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="visit : ${visits}">
        <td th:text="${visit.idVisit}"></td>
        <td th:text="${visit.visitDate}"></td>
        <td th:text="${visit.duration}"></td>
        <td th:text="${visit.visitType}"></td>
        <td th:text="${visit.visitStatus}"></td>
        <td th:text="${visit.visitPrice}"></td>
        <td th:text="${visit.visitAdress}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
